RewriteEngine On
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ /public/$1 [L,QSA]

SetEnv DB_HOST      idlabsfrlvia.mysql.db
SetEnv DB_NAME      idlabsfrlvia
SetEnv DB_USER      idlabsfrlvia
SetEnv DB_PASSWORD  TON_MOT_DE_PASSE_DB
SetEnv SESSION_SECRET LE_RESULTAT_DE_OPENSSL
SetEnv APP_ENV      production